*~
*.pickle
*.txt
*.c
*.s
*.o
__pycache__/
build/
.gdb_history


data.py
seq2seq.py
texs/abstract.*
texs/iscs-thesis.cls
logs/
build_save/
result/
tes.py
tes.sh
correspond_table.txt
log/
save_models/
data.pickle
texs/*.pdf
texs/*.log
texs/*.aux
texs/*.dvi
texs/*.blg
texs/*.bbl
tesx.tokenized.c.astdump
clang_fromnewsource/
models/
typetes.py
build_ast/
build_ast_save_csrc/
texs/paper.tex
texs/abstract.tex
!texs/bintree.c
!texs/hopper.c
!texs/snowman.c
